body{
    background-color: #333333;
}

h1{
    text-align: center;
    color: yellow;
    margin-bottom: 5px;
    text-decoration: double underline green;
}
.calculator{
    margin: auto;
    width: fit-content;
    border: 4px double grey;
    margin-top: 50px;
    padding: 10px;
    background-color: #d9e4f1;
    
}
#button{
    width: 100%;
    height: 100%;
    background-color: #001122;
    color: white;
}

table, input{
    width: 100%;
    height: 100%;
    background-color: #001122;
    color: white;
}
button:hover{
    background-color: #303f4c;
}
table, th, td {
  border: 1px solid grey;
  height: 50px;
  width: 300px;
  text-align: center;
  margin: 5px;
}
#screen{
    width: 97%;
    height: 70%;
    font-size: 20px;
    text-align: right;
}